.Education {
  padding: 50px 20px;
  color: #296196;
  background-color: rgba(239, 239, 239, 1);
  transition: box-shadow 0.5s ease-in-out;
}

.Education:hover {
  background-color: rgb(225, 225, 225);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Education-title-col {
  justify-items: center;
}

.Education-title {
  font-size: 37px;
  font-weight: 400;
}

/* @media (max-width: 575.98px) {
    .Education-title {
        font-size: 34px;
    }
} */

.course-school {
  font-size: 21.5px;
  font-weight: 700;
  color: #073763;
  margin-right: 10px;
}

.course-title {
  font-size: 21.5px;
  font-weight: 700;
  color: #296196;
}

.course-info {
  color: #296196;
  font-size: 16px;
  font-weight: 400;
  /* padding-top: 10px; */
}

.Education-text {
  margin-top: 10px;
}

.expandingContainer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.Education.show .expandingContainer {
  max-height: 1000px;
}
