.hero {
  background-color: #073763;
  padding: 80px 20px 70px;
}

.hero-title {
  margin-top: 30px;
  color: #fff193;
  font-size: 96px;
  font-weight: 300;
  font-family: monospace;
  background-color: #073763;
}

@media (min-width: 300px) and (max-width: 575.98px) {
  /* X-Small screens */
  .hero-title {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Small screens */
  .hero-title {
    font-size: 70px;
  }
}

.hero-text {
  color: rgba(239, 239, 239, 1);
  margin-top: 15pt;
  margin-bottom: 15pt;
  font-size: 25px;
  font-weight: 400;
}
