 .MyProjects {
     padding: 100px 20px;
 }

 .MyProjects-h1 {
     color: #073763;
     font-size: 34px;
     font-weight: 700;
     background-color: #fff193;
     display: inline;

 }

 .myrojects-title {
     margin-bottom: 70px;

 }

 .MyProjectsCards {
     justify-content: center;
 }