 .Skills {
     background-color: #fff193;
     text-align: right;
     margin-left: 50px;
     /* padding: 200px 20px; */
 }

 .skill-title {
     font-size: 18px;
     font-weight: 250;
     color: #073763;
     margin-bottom: 30px;
     margin-top: 30px;
 }

 .skill-text {
     font-size: 17px;
     font-weight: 650;
     color: #073763;
 }