 .Skills {
     background-color: #ccf381;
     text-align: right;
     margin-left: 30px;
     /* padding: 200px 20px; */
 }

 .skill-title {
     font-size: 18px;
     font-weight: 250;
     color: rgba(72, 49, 212, 1);
     margin-bottom: 30px;
     margin-top: 30px;
 }

 .skill-text {
     font-size: 17px;
     font-weight: 650;
     color: rgba(72, 49, 212, 1);
 }