.delta-description-component {
    padding: 50px 20px;
    margin-bottom: 100px;
}

.delta-subtitle {
    color: #073763;
    font-weight: bold;
    margin-top: 50px;
    font-size: 18px;
}

.delta-content {
    color: #296196;
}