.Delta-links-component {
  padding: 50px 20px;
}

.Delta-web {
  background-color: #fff193;
  margin-bottom: 20px;
}

.Delta-weblink {
  font-weight: bold;
}

.Delta-repo-title {
  font-weight: bold;
}