.Igaf-links-component {
    padding: 50px 20px;
}

.Igaf-web {
    background-color: #CCF381;
    margin-bottom: 20px;
}

.Igaf-weblink {
    font-weight: bold;
}

.Igaf-repo-title {
    font-weight: bold;
}