.DevOps-links-component {
    padding: 50px 20px;
}

.DevOps-web {
    background-color: #fff193;
    margin-bottom: 20px;
}

.DevOps-weblink {
    font-weight: bold;
}

.DevOps-repo-title {
    font-weight: bold;
}