.navbar-custom {
    width: 100%;
    background-color: rgba(72, 49, 212, 1);
    transition: background-color 0.2s ease;
    color: rgba(239, 239, 239, 1);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgba(239, 239, 239, 1);
}

.navbar-custom .nav-link.active {
    font-weight: bold;
    color: rgba(239, 239, 239, 1);
}

.navbar-scrolled {
    background-color: rgba(239, 239, 239, 1);
    color: rgba(72, 49, 212, 1);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link {
    color: rgba(72, 49, 212, 1);
}

.navbar-scrolled .nav-link.active {
    font-weight: bold;
    color: rgba(72, 49, 212, 1);
}