body {
    scroll-behavior: smooth;
}

.navbar-custom {
    width: 100%;
    transition: background-color 0.2s ease;
    color: rgba(239, 239, 239, 1);
    background-color: #073763;
}

.navbar-scrolled {
    background-color: #073763;
    /* background-color: rgba(239, 239, 239, 1); */
    /* color: #073763; */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgba(239, 239, 239, 1);
}

.navbar-custom .toggle {
    filter: invert(1);
    transition: color 0.2s ease;
}

.navbar-scrolled .navbar-toggler-icon {
    filter: invert(1);
    transition: color 0.2s ease;
}

.nav-link {
    padding: 0;
}

/* .nav-link.active {
    color: #5c186f;
} */

.navbar-nav .nav-item.dropdown {
    color: #fff193;

}

.navbar-nav .nav-link.show {
    color: #fff193;
}

.basic-nav-dropdown {
    display: inline-block;
}



@media (max-width: 991px) {
    #basic-navbar-nav {
        height: auto;
        padding-bottom: 30px;
        margin-right: 20px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .navbar-nav .nav-item.dropdown:hover,
    .nav-link:hover {
        background-color: #296196;
    }

    .navbar-nav .nav-link.show {
        color: white;
    }

    .navbar-nav .nav-item.dropdown,
    .nav-link {
        padding-bottom: 10px;
    }
}