.navbar-custom {
    width: 100%;
    /* background-color: #073763 ; */
    transition: background-color 0.2s ease;
    color: rgba(239, 239, 239, 1);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgba(239, 239, 239, 1);
}

.navbar-custom .nav-link.active {
    font-weight: bold;
    color: rgba(239, 239, 239, 1);
}

.navbar-custom .toggle {
    filter: invert(1);
    transition: color 0.2s ease;
}
 

.navbar-scrolled .navbar-toggler-icon {
    filter: invert(1);
    transition: color 0.2s ease;
}

 
.navbar-scrolled {
    color: rgba(239, 239, 239, 1);
    background-color: #073763;
    /* background-color: rgba(239, 239, 239, 1); */
    /* color: #073763; */
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link  {
     color: rgba(239, 239, 239, 1);
    /* color: #073763; */
}

.navbar-scrolled .nav-link.active {
    font-weight: bold;
    /* color: #073763; */
     color: rgba(239, 239, 239, 1);
}

body {
  scroll-behavior: smooth;
}