.Odyssey-images-component {
    padding: 50px 20px;
    background-color: #CCF381;
    justify-content: center;
}

.Odyssey-images-container {
    max-width: 1000px;
}

.Odyssey-carousel-images {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}