.Odyssey-links-component {
    padding: 50px 20px;
}

.Odyssey-web {
    background-color: #fff193;
    margin-bottom: 20px;
}

.Odyssey-weblink {
    font-weight: bold;
}

.Odyssey-repo-title {
    font-weight: bold;
}